body {
  font-size: 18px;
  font-family: 微軟正黑體;
  letter-spacing: 2px;
  line-height: 1.5;
  background-color: #F5F5F7;
}

/*圖片*/
.p {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 30px;
}

/*文字*/
.t {
  flex: 0 0 30%;
  margin: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  font-size: 2rem;
}
